body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 30px;
}

.topBtn {
  margin: 5px;
  background-color: white !important;
  color: black !important;
  border-radius: 6px;
  padding: 5px 20px;
  font-weight: 500;
}
#buyPremiumBtn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}