:root {
  --primary: #233b64;
  --secondary: #3d5a80;
  --accent: #293241;
  --light: #d2eaf7;
  --background: #f0f9ff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

#navigation {
  background-color: var(--primary);
}

.navbar-brand {
  font-weight: bold;
}

#formContainer {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 2rem;
  margin-top: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#submitBtn {
  background-color: var(--accent);
  color: white;
}

#submitBtn:hover {
  background: white;
  color: var(--accent);
}

.table thead {
  background-color: var(--secondary);
  color: white;
}

.editDelete {
  margin: 0 4px;
}

#buyPremiumBtn {
  background: gold;
  color: var(--accent);
}

.footer {
  background: var(--accent);
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}