body {
  background-color: #f8f9fa;
}

#navigation {
  background-color: #343a40;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-link.active {
  color: #f8f9fa !important;
  font-weight: 500;
}

.topBtn {
  background-color: white !important;
  color: black !important;
  border-radius: 6px;
  padding: 5px 25px;
  font-weight: 500;
}

.report-btn {
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 8px;
}

.table-responsive {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}
